:root {
  --gray-base: #ccc;
  --gray-medium: #d7d7d7;
  --gray-light: #e5e5e5;
  --gray-xx-light: #f9f9f9;
  --gray-x-light: #f0f0f0;
  --gray-dark: #595656;
  --melon-light: #FFE0D8;
  --melon-medium: #FD4124;
  --melon-dark: #F24461;
  --blue-medium: #00A7E1;
  --white-base: #fff;
  --text-base: #2c3e50;
  --text-medium: #22303d;
  --text-dark: #151e26;
}