.action-content {
  padding: 4px 20px;
}

.action-header {
  align-items: center;
  background-color: #f2f4f5;
  border-bottom: solid 1px #e5e5e5;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  padding: 7px 8px;
  .label {
    font-size: 14px;
  }
}

.actions-applied {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 15px;
}

.applied-action-container {
  border: solid 1px #e5e5e5;
}

.input-list {
  display: flex;
  flex-direction: column;
  gap: 5px;
}