.button {
  border: none;
  color: var(--white-base);
  font-size: .9em;
  padding: 6px 10px;
  border: solid 1px var(--gray-medium);
  &.danger {
    border: none;
  }
  &:hover {
    cursor: pointer;
  }
  
  &.save {
    background-color: var(--blue-medium);
    border-radius: 3px;
  }
  
  &.danger {
    background-color: var(--melon-light);
    color: var(--melon-medium);
    border-radius: 3px;
  }
  
  &.delete {
    background-color: var(--gray-x-light);
    color: var(--gray-dark);
  }
}
