.v-input {
  label {
    display: block;
    margin-bottom: 4px;
  }

  .affix {
    border: 1px solid var(--gray-base);
    display: table-cell;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    padding: 6px 12px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    width: 1%;
  }

  .affix.prefix {
    border-radius: 4px 0px 0px 4px;
    border-right: 0;
  }

  .affix.suffix {
    border-left: 0;
    border-radius: 0px 4px 4px 0px;
  }

  .input {
    border: 1px solid var(--gray-base);
    display: table-cell;
    float: left;
    margin-bottom: 0;
    margin: 0;
    padding: 6px 12px;
    position: relative;
    width: 100%;
    z-index: 2;
  }

  .input-group {
    border-collapse: separate;
    display: table;
    position: relative;
    width: 100%;
  }

  .prefix .input {
    border-radius: 0px 4px 4px 0px;
  }

  .prefix .affix {
    border-radius: 4px 0px 0px 4px;
    border-right: 0;
  }

  .presuffix .input {
    border-radius: 0px;
  }
  
  .secondary {
    background-color: var(--gray-x-light);
  }

  .suffix .input {
    border-radius: 4px 0px 0px 4px;
  }

  .suffix .affix {
    border-left: 0;
    border-radius: 0px 4px 4px 0px;
  }
}
