.card {
  background-color: white;
  margin: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 10px;
  padding-left: 20px;
  position: relative;
}

.container {
  display: grid;
  grid-template-columns: 300px 500px 100px;
  grid-gap: 20px;
  align-items: center;
  
  &.name {
    grid-template-columns: 3fr 5fr 1fr;
    margin-bottom: 10px;
  }
  &.trigger {
    align-items: unset;
    grid-template-columns: 3fr 4fr 2fr;
  }
  &.trigger-frequency {
    grid-template-columns: 1fr 1fr 1fr;
    .frequency {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
  }
}

.content {
  display: block;
  overflow: auto;
  height: 85vh;
}

h1 {
  font-size: 1.2em;
  margin: 0;
}

.section-header {
  display: block;
  margin-bottom: 5px;
}

.label {
  font-size: .8em;
  font-weight: 500;
}

.main {
  display: flex;
  flex-direction: column;
  grid-gap: 20px;
}

.main-header {
  padding-top: 10px;
  padding-bottom: 10px;
}

p {
  font-size: 1em;
  color: var(--text-dark);
}

.section {
  margin-top: 18px;
  padding-bottom: 20px;
  &:not(:last-child) {
    border-bottom: 1px solid var(--gray-light);
  }
}

.validity {
  display: grid;
  grid-template-columns: 1fr 1fr 3fr;
  grid-gap: 20px;
}